<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Lua</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header class="main-header">
        <div class="logo">
            <h1>Da Lua</h1>
        </div>
        <nav class="main-nav">
            <div class="pedidos">
                <button class="btn-add">Novo pedido</button>
                <button class="btn-add">Excluir pedido</button>
            </div>    
        </nav>
    </header>

    <main id="menu" class="product-grid">
        <div class="container-novospedidos">
            <h1>Novos Pedidos.</h1>
        </div>
    </main>

</body>
</html>